body{
	background: lightblue;
	border: 2px solid darkred;
	border-radius: 3%;
}
.Div1{
	text-align: center;
	fon
}
.H1{
	border: 3px dotted darkblue;
	font-family: monospace;
	
}

.P1{
	font-family: monospace;
}